<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="DataViewerScreen">
    <Variable
      initialValue="new acc.dataviewer.ui.DataViewerPageProcess()"
      name="pageProcess"
      type="acc.dataviewer.ui.DataViewerPageProcess"/>
    <Variable
      initialValue="&quot;ID&quot;"
      name="sortByFieldName"
      type="String"/>
    <SearchPanel
      criteriaName="searchCriteria"
      resultsName="searchResult"
      search="pageProcess.search(searchCriteria)"
      searchCriteria="pageProcess.createSearchCriteria()"
      searchResultsType="gw.api.database.IQueryBeanResult&lt;KeyableBean&gt;">
      <DetailViewPanel>
        <InputColumn>
          <TextInput
            editable="true"
            id="ObjectNameSearchInput"
            label="&quot;Object Name&quot;"
            required="true"
            value="searchCriteria.ObjectName"/>
          <TextInput
            editable="true"
            id="ObjectIdSearchInput"
            label="&quot;Object ID&quot;"
            value="searchCriteria.Id"/>
          <CheckBoxInput
            editable="true"
            id="WithRetiredSearchInput"
            label="&quot;With Retired&quot;"
            value="searchCriteria.WithRetired"/>
          <InputSetRef
            def="SearchAndResetInputSet()"/>
        </InputColumn>
      </DetailViewPanel>
      <PanelDivider/>
      <ListDetailPanel
        selectionName="object"
        selectionType="KeyableBean">
        <Variable
          name="fieldToShow"
          type="String"/>
        <PanelRef
          visible="searchResult.HasElements">
          <Toolbar>
            <ToolbarButton
              action="pageProcess.Fields.makeAllFieldsVisible()"
              id="ShowAllFieldsButton"
              label="&quot;Show All Fields&quot;"
              visible="searchResult != null"/>
            <ToolbarDivider/>
            <CheckedValuesToolbarButton
              allCheckedRowsAction="pageProcess.moveFieldsFirst(CheckedValues)"
              id="ColumnMoveFirstButton"
              iterator="CheckBoxesIterator"
              label="&quot;\u21C7&quot;"/>
            <CheckedValuesToolbarButton
              allCheckedRowsAction="pageProcess.moveFieldsBck(CheckedValues)"
              id="ColumnMoveBckButton"
              iterator="CheckBoxesIterator"
              label="&quot;\u2190&quot;"/>
            <CheckedValuesToolbarButton
              allCheckedRowsAction="pageProcess.hideFields(CheckedValues)"
              id="ColumnRemoveButton"
              iterator="CheckBoxesIterator"
              label="&quot;x&quot;"/>
            <CheckedValuesToolbarButton
              allCheckedRowsAction="pageProcess.moveFieldsFwd(CheckedValues)"
              id="ColumnMoveFwdButton"
              iterator="CheckBoxesIterator"
              label="&quot;\u2192&quot;"/>
            <CheckedValuesToolbarButton
              allCheckedRowsAction="pageProcess.moveFieldsLast(CheckedValues)"
              id="ColumnMoveLastButton"
              iterator="CheckBoxesIterator"
              label="&quot;\u21C9&quot;"/>
            <ToolbarDivider/>
            <ToolbarRangeInput
              id="FindFieldRange"
              label="&quot;Show&quot;"
              value="fieldToShow"
              valueRange="pageProcess.Fields?.getOrderedFieldNames()">
              <PostOnChange
                onChange="if (fieldToShow != null) {pageProcess.Fields.moveFieldFirst(fieldToShow)}"/>
            </ToolbarRangeInput>
          </Toolbar>
          <ListViewPanel>
            <Row
              renderAsSmartHeader="true">
              <Cell
                id="EmptyLabelCell"/>
              <CellIterator
                elementName="labelPos"
                id="LabelsIterator"
                value="(1..|pageProcess.Fields.FieldsCount).toList()">
                <Cell
                  id="LabelCell"
                  value="pageProcess.Fields.getFieldName(labelPos)"/>
              </CellIterator>
            </Row>
            <RowIterator
              editable="false"
              elementName="object"
              id="FieldsIterator"
              value="searchResult">
              <Row
                useArchivedStyle="pageProcess.TypeProvider.IsRetireable ? object[&quot;Retired&quot;] as boolean : false">
                <Cell
                  id="FieldIDCell"
                  label="&quot;ID&quot;"
                  sortBy="object.ID"
                  sortDirection="descending"
                  sortOrder="1"
                  value="pageProcess.getFieldValue(object, 0)"/>
                <CellIterator
                  elementName="fieldPos"
                  id="FieldsIterator"
                  value="(1..|pageProcess.Fields.FieldsCount).toList()">
                  <Cell
                    id="FieldCell"
                    value="pageProcess.getFieldValue(object, fieldPos)"/>
                </CellIterator>
              </Row>
            </RowIterator>
            <Row
              useTitleStyle="true">
              <CellIterator
                elementName="position"
                id="CheckBoxesIterator"
                value="(0..|pageProcess.Fields.FieldsCount).toList()">
                <Cell
                  available="position &gt; 0"
                  hasCheckBox="true"
                  id="CheckBoxCell"
                  value="&quot;&quot;"/>
              </CellIterator>
            </Row>
          </ListViewPanel>
        </PanelRef>
        <CardViewPanel>
          <Card
            id="RelatedObjectsCard"
            title="&quot;Related Objects&quot;"
            visible="object != null">
            <PanelRef>
              <Toolbar/>
              <ListViewPanel>
                <Variable
                  initialValue="pageProcess.getForeignFields(object)"
                  name="foreignFields"
                  recalculateOnRefresh="true"
                  type="java.util.List&lt;gw.lang.reflect.IPropertyInfo&gt;"/>
                <RowIterator
                  editable="false"
                  elementName="field"
                  id="ForeignFieldsIteraotr"
                  pageSize="0"
                  value="foreignFields">
                  <Row>
                    <Cell
                      bold="true"
                      colspan="2"
                      id="ForeignFieldCell"
                      styleClass="bold"
                      value="field.Name"/>
                  </Row>
                  <RowIterator
                    editable="false"
                    elementName="bean"
                    pageSize="0"
                    value="pageProcess.getForeignBeans(object, field)">
                    <Row>
                      <Cell
                        id="BeanIdCell"
                        value="bean.ID"/>
                      <Cell
                        flex="1"
                        id="BeanDisplayNameCell"
                        value="bean.DisplayName.trim()"/>
                    </Row>
                  </RowIterator>
                </RowIterator>
              </ListViewPanel>
            </PanelRef>
          </Card>
        </CardViewPanel>
      </ListDetailPanel>
    </SearchPanel>
  </Screen>
</PCF>